*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;

}
#intro{
    height: 50%;
    width: 100%;
    /* background-color: floralwhite; */
    padding: 55px 60px;
}
#intro h1{
    font-size: 145px;
    letter-spacing: -3px;
    line-height: 140px;
}
#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#place h3,#place h4{
    font-size: 33px;
    font-weight: 600;
}
#hero-image{
    height: 87%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}
#about{
    height: 45%;
    width: 100%;
    /* background-color: firebrick; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    /* background-color: rgb(255, 255, 255); */
    width: 61%;
    font-size: 92px;
    font-weight: 600;
    line-height: 92px;
    letter-spacing: -2.55px;
}
#about-part2{
    width: 36%;
    height: 100%;
    padding: 0px 60px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 33px;
    font-weight: 600;
}
#icons{
    /* background-color: red; */
}
#icons i{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 27px;
    border-radius: 50px;
    margin-right: 10px;
} 
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    padding: 50px 60px;
    /* align-items: center;
    justify-content: space-between; */

}
#work1{
    height: 100%;
    width: 35%;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* background-color: blue; */
    border-right: 2px solid #000;
    
}
#work1 h3{
    font-size: 33px;
    font-weight: 600;
}
#work1 i{
    font-size: 33px;
}
#work2{
    height: 100%;
    width: 65%;
    /* background-color: red; */
    /* display: flex; */
    padding: 0px 60px;
}
.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2-part .elem:nth-child(2){
    padding-left: 50px;
}
.work2-part .elem h4{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
}
.work2-part .elem p{
    font-size: 20px;
}